h1{ 
    font-family:cursive;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 5px #333;
    text-decoration-style: wavy;
    text-align:center ;
    color: rgb(24, 3, 19);
}
p{ 
    text-align:center ;
    
}
body
{
    background-color: rgb(17, 3, 3);
}
h3
{
    text-align: left;
     
}
p
{
    text-align: left;
    
}
form input
{
    width: 200px;
    column-rule-color: rgb(121, 88, 38);
}
form textarea
{
    width: 201px;
    line-height: 130px;
    
}