h1{ 
    font-family:cursive;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 5px #333;
    text-decoration-style: wavy;
    text-align:center ;
    color: rgb(24, 3, 19);
}
.list1
{
    accent-color: red;
    vertical-align: baseline;
    color: rgb(17, 15, 15);
    border-style: solid;
    border-radius: 8px;
    height: 300px;
    width: 250px;
    padding-top: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.list2
{
    border-style: solid;
    border-radius: 8px;
    height: 300px;
    width: 250px;
    padding-top: 0px;
     background-color: white; 
}
    
body
{
    background-color:rgb(15, 13, 13) ;
}
.container
{
    display: flex;
    justify-content:space-evenly;
}
button
{
    color: blue;
}

 h2
{
    padding-top: 0.5rem;
}

button{
    background-color: #f0f1f3;
    border: none;
    color: rgb(22, 18, 18);
    font-size: 0.9em;
    padding-left: 0.5em;
    outline: none;
   cursor: pointer;
}

 