h1{ 
    font-family:cursive;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 5px #333;
    text-decoration-style: wavy;
    text-align:center ;
    color: rgb(24, 3, 19);
}
p{ 
    text-align:center ;
    
}
body
{
    background-image:linear-gradient(rgb(53, 16, 16),#0000) ;
}
h3
{
    text-align: left;

     
}
p
{
    text-align: left;
    
}
form input
{
    width: 200px;
    column-rule-color: rgb(121, 88, 38);
    border: 2px solid rgba(0, 0,0, 0.2);
    font-size: 1.05rem;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 10px;
}
form textarea
{
    width: 201px;
    line-height: 130px;
    color: aquamarine;
    color-adjust:red ;
    border: 2px solid rgba(0, 0,0, 0.2);
    font-size: 1.05rem;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 10px;
    
}
form input:focus,form textarea:focus
{
    outline: 0;
}
/* button
{
    background-color: rgb(25, 22, 182);
    border: 2px solid rgb(25, 22, 182);
    color: rgb(226, 216, 216);
    font-size: 1rem;
    padding: 0.55rem 0;
    cursor:pointer;

} */
h2
{
    padding-top: 0.5rem;
}